* {
    box-align: center;
    text-align: center;
}

.wrapper {
    width: 60%;
    padding: 20px;
    margin: 0 auto;
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

body {
    font-family: "Arial", "Helvetica Neue", Helvetica, san-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

section{
    background: #ebebeb;
    box-align: center;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
}

header {  
    width: 495px;  
}

nav {
    width: 495px;
}

#sectionBox {
    float: left;
    width: 55%;
    height: 225px;
    position: relative;
}

#article {
    color: #ebebeb;
    background: #777;
    position: relative;
}

#h1 {
    color: #777;    
}

#p {
    color: #777;
}

#aside { 
    float: right;
    width: 33%;
    height: 225px;
} 

footer {
    clear: both;  
}